*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: $bg_color;
  font-size: 1.5rem;
  font-family: 'Inter';
  color: $primary;
  scroll-behavior: smooth;

  .page-content {
    min-height: calc(100vh - 95px - 42.5px);
    height: calc(100vh - 95px - 42.5px);
    position: relative;
  }
}