.register-section {
  display: flex;
  align-items: center;

  position: absolute;
  top: 35rem;
  left: 50%;
  transform: translate(-50%, -50%);

  .register-image {
    width: 50rem;
    max-width: 50rem;
    img {
      width: 100%;
      object-fit: contain;
      height: 32rem;
    }
  }
  .register-form-wrapper.error {
    border: 1px solid $red;
  }

  .register-form-wrapper {
    background-color: $bg_color_white;
    padding: 2.5rem 4.5rem;
    box-shadow: $box_shadow;
    border-radius: 1rem;
    position: relative;
    min-width: 36rem;
    min-height: 56.319rem;
    margin-left: 5rem;
    .success-register {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      &::before {
        content: '\e86c';
        text-align: center;
        color: #179b17;
        font-family: 'Material Icons';
        display: block;
        font-size: 4rem;
        margin-bottom: 2rem;
      }
    }
    .logo-dark {
      max-height: 6rem;
      width: 100%;
      object-fit: contain;
      object-position: center;
  
    }
  
    .register-header {
      margin-top: 2rem;
      text-align: center;
      font-family: 'Inter Med';
      font-size: 1.6rem;
    }
  
    .form {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      .error-register {
        font-size: 1.3rem;
        color: $red;
        margin-bottom: 1rem;
        opacity: 0;
        visibility: hidden;
        &.show {
          opacity: 1;
          visibility: visible;
          transition: all .2s;
        }
      }
      .form-group {
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
        .register-mess {
          margin-top: .5rem;
          font-size: 1.25rem;
        }
      }
      &__label {
        font-size: 1.5rem;
      }
      &__input {
        border: 1px solid transparent;
        outline: 0;
        font-size: 1.5rem;
        padding: .7rem 1.5rem;
        background-color: #b8bfc72b;
        border-radius: 1rem;
        line-height: 1;
        color: $primary;
        box-shadow: $box_shadow;
        &::-webkit-input-placeholder {
          color: $font_tertiary;
        }
        &.error {
          border: 1px solid $red;
        }
      }
  
      &__register {
        border: 0;
        outline: 0;
        margin-top: 2rem;
        font-size: 1.5rem;
        background-color: $primary;
        color: $font_primary;
        border-radius: 1rem;
        width: max-content;
        padding: .5rem 1.5rem;
        align-self: center;
      }
    }
  }

}