//COLORS
$bg_color: #eaeaed;
$bg_color_white: #FFFFFF;
$primary: #1a3955;
$accent: #d1af7a;
$red : #d71b1b;

$font_primary: #FFFFFF;
$font_secondary: #5a6978;
$font_tertiary: #a1a9b2;

$box_shadow: 0 4px 10px -5px #a1a9b2;

//FONT SIZES
$medium: 1.7rem;
$large: 2.1rem;